{% extends "main/base.html" %}

{% block content %}

  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-{{ bokeh_version }}.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-{{ bokeh_version }}.min.js"></script>

  <h2>Solar Orbiter</h2>

  <p>
    Solar Orbiter is currently {{ visibility }} for Earth space weather forecasting<br>
    Angle from the Sun&ndash;Earth line: {{ sun_earth_angle}}&deg;<br>
    Distance upstream of Earth: {{ dist_upstream_earth}} AU<br>
    CME warning at 400 km/s: {{ CME400time }} hours<br>
    CME warning at 1000 km/s: {{ CME1000time }} hours<br>
    Sun&ndash;spacecraft distance: {{ sun_spacecraft_distance}} AU<br>
    Latitude relative to Earth: {{ lat_relative_to_earth }}&deg;{{ lat_direction }}<br>
    {% if message %}
      {{ message|linebreaks }}
    {% endif %}
    <br>
  </p>

  {{ script | safe }}
  {{ div | safe }}

  {% if time %}
    <p>Plot last updated at {{ time }}.</p>
  {% endif %}

{% endblock content %}
